@import "styles/colors.scss";
@import "styles/mixins.scss";

@include required-text;
@include required-error;
@include field-helper-text;

.form_container {
  padding: 1.75em 0;
  @media screen and (min-width: 768px) {
    padding: 1.75em;
  }

  h3 {
    display: flex; 
    flex-direction: column;
    margin-bottom: 1rem;
    @include uppercase;
  }

  .form {
    display: grid; 
    grid-template-columns: 1fr;
    grid-gap: 1.5rem 1rem;
    margin-bottom: 1.5em;

    @media (min-width: 700px ) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1000px ) {
      grid-template-columns: repeat( 4, 1fr); 
    }
 
    &.hide {
      display: none;  
    }
 
    .title {
      @media ( min-width: 700px ) {
        grid-column: span 2;
      }
    } 

    &.description {
      @media ( min-width: 700px ) {
        grid-template-columns: 1fr;
      }

      @media ( min-width: 1000px ) {
        grid-template-columns: 1fr 1fr;
      }
    }

    
    .dropdown-required {
      label {
       @include form-field-label; 
        &::after {
          @include asterisk;
        } 
      } 
    }
 
    label {
      @include form-field-label;  
    } 
  } 
 
}
