@import "../../../../../styles/colors.scss";

.videoUpload {

  .ui.tabular.menu .item {
    display: none;
    font-size: 24px;
    color: $blue;
    cursor: pointer;
    pointer-events: none;    

    &.active {
      display: block;
      width: 100%;
      text-align: center;
      @media screen and (max-width: 400px) {
        padding: 0.5em;
      }
    }
  }
}


.ui.modal.cancelModal {
  max-width: 478px;
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: 0;

  .content,
  .actions {
    text-align: center;
  }

  .content {
    
    > p {
      font-size: 18px;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    border: none;
    background: #fff;
    
    > button {
      margin: 0;

      &:first-child {
        margin-right: 1em;
      }
    }
  }
}