.actionsMenu {
  z-index: 3;
  display: none;
  width: 100%;
  margin-top: -5px; }
  @media screen and (min-width: 768px) {
    .actionsMenu {
      min-width: 300px; } }
  @media screen and (max-width: 767px) {
    .actionsMenu {
      z-index: 3;
      padding: 3px 0 1px 0;
      background-color: #fff;
      box-shadow: 1px 1px 5px #b2b4b8; } }
  .actionsMenu.active {
    display: block; }
  .actionsMenu_wrapper {
    display: flex; }
  .actionsMenu_toggle {
    min-height: 30px !important; }
    @media screen and (max-width: 767px) {
      .actionsMenu_toggle {
        margin-right: 3px; } }
    .actionsMenu_toggle:after {
      content: 'Select All';
      position: absolute;
      left: 25px;
      min-width: 75px; }
    .actionsMenu_toggle--active:after {
      content: ''; }
  .actionsMenu img {
    margin-left: 1em;
    cursor: pointer; }
  .actionsMenu .unpublish {
    vertical-align: top;
    display: inline-block;
    margin-left: 0.5em;
    margin-top: 2px; }
    .actionsMenu .unpublish--text {
      margin-left: 0.5em;
      color: #0071bc; }
