@import "styles/colors.scss";

.file_meta_content {
  color: $blue;
  display: block;
  font-size: .9rem;
}

.video-file-form {
  margin: 1rem;

  &-col-1 {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
  }
}