@import "styles/colors.scss";

.download-item {
  position: relative;  
  display: flex;
  padding: 1em;
  margin-bottom: 5px;
  border: 1px solid $light-grey;
  font-size: 14px;
  box-shadow: -1px 5px 10px -11px rgba(0, 0, 0, 0.75);
  cursor: pointer;

  &--preview {
    cursor: default;
    
    &:active {
      pointer-events: none;
    }
  }

  &:hover {
    text-decoration: none !important;

    .item-hover,
    &:after {
      opacity: 1;
    }
  }

  &:after {
    content: '';
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      $bright-blue,
      $light-blue,
      $bright-blue
    );
    opacity: 0;
    transition: opacity 0.3s linear;    
  }

  &__wrapper {
    padding: 0.5em;
  }

  &__instructions {
    max-width: 60ch;
    margin-bottom: 1em;    
    font-style: italic;
    font-size: 0.75rem;
    line-height: 1.428;
    color: $grey;

    > p {
      margin-bottom: 3px;
    }
  }

  &__noContent {
    margin-top: 2em;
    font-size: 14px;
  }

  .item {

    &-icon {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }

    &-content {
      flex: 1;

      &__meta {
        margin: 0 0 2px 0;       
        font-size: 11px;
        font-style: italic;
        color: $shuttle-grey;
      }
    }

    &-hover {
      z-index: 3;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      color: #fff;
      font-weight: bold;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s linear;

      .preview-text {
        display: block;
        font-size: 0.777777778rem;
        font-style: italic;
        font-weight: normal
      }
    }    
  }  
}