@import 'styles/colors.scss';

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.77rem;

  .results_sort {
    &.ui.form {
      margin: 0 1rem 0 0;
      font-size: inherit;

      .fields {
        position: relative;
        display: flex;
        align-items: baseline;
        border: 1px solid $blue;
        border-radius: 0.28571429rem;
        margin: 0;
        padding: 0 0.25rem;

        :first-child {
          margin-right: 0.125rem;
        }
      }

      .ui.dropdown {
        position: unset;
        padding: 0;
        margin: 0;
        min-height: 0;
        border: none;
        border-radius: 0;

        .dropdown.icon {
          position: relative;
          top: auto;
          right: auto;
          float: none;
          display: inline-block;
          padding: 0;
        }

        &.active {
          box-shadow: none;

          .menu {
            border-radius: 0;
            border-color: transparent;
          }
        }
      }
    }
  }
}

.results {
  &_total {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.8em;
    font-size: 0.77rem;

    &_numOfResults {
      &.ui.dropdown .menu {
        border: none;
        border-radius: 0;
      }
    }
  }
}
