@import "../../../../../styles/colors.scss";

.edit-support-files {
  :focus:not(:focus-visible) {
    outline: none
  }

  .ui.form {
    font-size: 0.777778rem;
  }

  .ui.basic.buttons {
    border: 0;

    > .button {
      border-left: 0;
    }
  }

  .ui.button {
    // font-size: 0.777778rem;
    box-shadow: none !important;

    &.basic.replace,
    &.basic.delete {
      margin-left: 0.25em;
      margin-right: 0.25em;
      padding: 0;
    }

    &:focus,
    &.basic.buttons .button:focus,
    &.basic:focus {
      outline: 2px dotted $medium-grey;
      outline-offset: 2px;
    }

    &.cancel-close {
      border: 2px solid transparent;
      @media screen and (max-width: 899px) {
        border-color: $grey;
      }
      color: $grey !important;
      font-weight: normal;

      &:hover,
      &:active,
      &:focus {
        border-color: $grey;
        color: #fff !important;
        background-color: $grey !important;
      }
    }

    &.basic.add-files {
      border: 2px solid $matisse-blue;
      color: $matisse-blue !important;
      font-weight: bold;
      box-shadow: none !important;

      &:hover,
      &:active,
      &:focus {
        color: #fff !important;
        background-color: $matisse-blue !important;
      }
    }

    &.save {
      border: 2px solid $light-blue !important;
      color: #fff !important;
      background-color: $light-blue !important;
  
      &:hover,
      &:active,
      &:focus {
        border-color: $matisse-blue !important;
        background-color: $matisse-blue !important;
      }
    }

    &.disabled,
    &:disabled {
      cursor: not-allowed;
      pointer-events: auto !important;
    }
  }

  .ui.selection.dropdown {
    &.error {
      background: initial;

      > .menu {
        > .item {
          font-size: 1em;
          background: $chablis;

          &.selected {
            background-color: $linen;
          }
        }
      }

      &:focus {
        .menu {
          border-color: $cavern-pink;
        }
      }
    }
  }

  .ui.table {
    &.basic {
      tbody tr {
        border-bottom: 0;
      }
    }
  }

  .btn-group {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: right;
  }

  .msg--required {
    color: $red;
  }

  .hasEllipsis {
    cursor: default;
  }
}
