@import "../../styles/colors.scss";

.search_bar {
  width: 100%;
  margin: 0 auto;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  @media screen and (min-width: 640px) {
    width: 75%;
  }

  .ui.icon.input > i.icon.search {
    pointer-events: auto;
    cursor: pointer;
    opacity: 1;
  }

  .ui.form {
    input[type="text"] {
      width: auto;
      border-radius: 5px;
    }
    .search_input {
      width: 100%;
      font-size: 18px;

      ::placeholder {
        overflow: hidden;
      }

      .ui.label {
        font-weight: normal;
        color: black;
        font-size: 0.8em;
        line-height: 1.7em;
      }

      .ui.dropdown > .text {
        display: inline-flex;
        width: 4em;
        overflow: hidden;
        white-space: nowrap;
      }

      > input {
        padding-top: 0.6em;
        padding-bottom: 0.6em;
      }

      > input[type="text"]::-ms-clear {
        display: none;
      }

      i {
        color: $light-blue;
        font-size: 18px;
        
        &.search {
          color: $light-grey;
          opacity: 1;
          background: $blue;
        }

        &.search:hover {
          background: $light-blue;
        }
      }


      &.right {
        input[type="text"] {
          text-align: right;
        }
      }
    }
    .ui[class*="left icon"].input > i.icon {
      left: 0;
    }
    .ui[class*="right labeled"].input > div.dropdown {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
