@import "../../styles/colors.scss";

.filterMenu {
  &_selections {
    margin-top: 1em;
    transition: opacity 0.8s ease, max-height 1s ease;

    &.display {
      max-height: 1000px;
      opacity: 1;
    }

    .ui.label {
      margin: 0.14285714em;
      font-weight: 100;
      font-size: 0.667em;

      &:not(.clear_filter) {
        border: 1px solid #d6d7d9;
        background-color: #fff;
      }

      &.single {
        background-color: $light-grey;
      }
    }

    .clear_filter {
      color: $light-blue;
      background-color: #fff;
      cursor: pointer;
    }
  }
}
