@import "styles/colors.scss";

.filterMenu {
  position: relative;

  &_wrapper {
    max-width: 768px;
    margin: 0 auto 0 auto;

    hr {
      height: 1px;
      margin-left: calc( (100% - 100vw) / 2 );
      margin-right: calc( (100% - 100vw) / 2 );
      border: none;
      overflow: hidden;
      background-color: $light-grey;
    }
  }

  &_main {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
    
}
