.document {

  &--preview {
  
    .modal_headline {
      margin-top: 1.5em;
      margin-bottom: 0.25em;      
    }
    
    .body,
    .modal_description_text {
      margin-bottom: 1.5em;
      font-size: 1rem;
    }
  }  
}