{
  "extends": ["@gpa-lab/eslint-config", "@gpa-lab/eslint-config/react"],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {
        "alias": {
          "components": "./components",
          "context": "./context",
          "hocs": "./hocs",
          "lib": "./lib",
          "static": "./static",
          "styles": "./styles"
        }
      }
    }
  }
}
