@import "styles/colors.scss";
@import "styles/mixins.scss";

.review-project {
  @include uppercase;

  .section--project_header {
    display: block;
    @media screen and (min-width: 960px) {
      display: flex;
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 959px) {
    .project_header {
      margin-bottom: 1em;
    }
  }

  .section {
    margin-bottom: 1em;

    p {
      margin-bottom: 2px;
      font-size: 0.777778rem;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 0.777778rem;
    }

    .label {
      font-weight: bold;
    }

    .ui.checkbox label {
      font-size: 0.777778rem !important;
    }

    &--publish {
      padding-top: 1em;
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) {
    .layout,
    .ui.grid > .row.layout {
      padding: 1.75em;
    }
  }

  @media screen and (max-width: 550px) {
    .project_buttons {
      @include multi-column-layout;
    }
  }

  .project_button {
    @include base-button;
    border: 2px solid $matisse-blue;
    color: $matisse-blue;
    background-color: #fff;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
      background-color: $matisse-blue;

      > a {
        color: #fff;
      }
    }

    > a {
      color: $matisse-blue;
    }

    &--publish {
      @include go-button;
    }

    &--delete {
      @include transparent-button;
    }
  }

  .centered {
    position: absolute;
    top: 8em;
    left: 50%;
    transform: translateX(-50%);
  }
}
