@import 'styles/mixins.scss';

.graphic-project-support-files {
  .list-heading {
    display: flex;
    align-items: center;

    .title {
      margin-right: 0.625rem;
      margin-bottom: 0;
      text-transform: capitalize;
    }
  }

  .no-files {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 0.888888889rem;
  }
}
