@import "styles/mixins.scss";

.graphic-project-support-files {
  .list-heading {
    display: flex;
    align-items: center;

    .title {
      margin-right: 0.625rem;
      margin-bottom: 0;
      text-transform: capitalize;
    }
  }

  .no-files {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 0.888888889rem;
  }

  .support-files-list {
    list-style: none;
    padding-left: 0;
    font-size: 0.888888889rem;

    > .support-file-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.unavailable {
        .filename {
          span,
          [tooltip] {
            color: $medium-grey;
          }
        }

        .FileRemoveReplaceButtonGroup__btn-group {
          visibility: hidden;
        }
      }

      [tooltip] {
        &:focus {
          @include focus-styling;
        }
      }
    }
  }
}
