{
  "extends": ["@gpa-lab/eslint-config/cypress"],
  "root": true,
  "rules": {
    "import/no-unassigned-import": [
      "error",
      {
        "allow": ["**/commands", "@testing-library/cypress/add-commands"]
      }
    ],
    "node/no-unpublished-import": [
      "error",
      {
        "allowModules": [ "@testing-library/cypress" ]
      }
    ]
  }
}
