@import "styles/mixins.scss";

.textInput {
  @include required-asterisk;
  @include required-error;
  @include form-field-label;

  [type="text"],
  textarea {
    width: 100%;
    font-size: 0.77rem;
    border-radius: 4px;
    border: 1px solid rgba(34, 36, 38, 0.15);
    padding: 0.5rem;  
    transition: border-color .1s 0; 
     
    &:focus {  
      border: 1px solid $half-baked; 
      outline: none;
      //@include focus-styling($kbd_only: false);
    }
  
    &[aria-invalid] {
      border: 1px solid $red;
    }
  }

  textarea { 
    line-height: 1.2857;
    resize: vertical;
  }

  label span {
    @include form-field-label;  
}