@import "styles/colors.scss";

.press-package-item {
  &.ui.card {
    align-items: stretch;
    border-radius: 0.111111111rem;
    @supports (display: grid) {
      margin: 0;
    }
    font-family: inherit;

    &:hover,
    &:active {
      cursor: pointer;
      transform: translateY(-3px);
    }

    :focus:not(:focus-visible) {
      outline: none;
    }
  
    &:focus {
      transform: translateY(-3px);
      outline: 2px dotted $medium-grey;
      outline-offset: 2px;
    }

    > .container {
      display: flex;
      flex-direction: column;
      height: 100%;
      text-align: left;

      > .document-use {
        display: flex;
        align-items: center;
        border-radius: 0.111111111rem 0.111111111rem 0 0 !important;
        padding: 1em;
        color: #ffffff;
        font-size: 0.777777778rem;
        background-color: $blue;
      }
  
      > .header {
        > .title {
            padding: 1em;
            font-size: 0.777777778rem;
          }
      }
  
      > .internal-use {
        &.brief {
          margin: 1em 1em 0 1em;
          width: 123px;
        }
      }
  
      > .content {
        flex: 1;
        border-top: 0;
        padding: 1em;
        color: initial;
        font-size: 0.777777778rem;
      }
  
      > .meta {
        margin-top: 2em;
        padding: 0.777777778rem;
        text-align: left;
        background: transparent;
  
        > .date-time {
          color: $grey;
          font-size: 12px; // match size of tags
          
          > div > dt {
            margin-right: 0;
            font-weight: 400;
          }
        }
  
        > .modal_section--postTags {
          margin-top: -0.75em;
          margin-bottom: 1em;
        }
  
        > .seal {
          color: initial;
          font-family: Georgia, serif;
        }
      }
    }
  }
}
