.container {
  padding: 1.75em 0;

  @media screen and (min-width: 768px) {
    padding: 1.75em;
  }
}

.files {
  display: grid;
  grid-template-columns: 0.4fr;

  @media screen and (max-width: 768px) {
    grid-template-columns: 0.6fr;
  }

  @media screen and (max-width: 478px) {
    grid-template-columns: 1fr;
  }
}

.placeholders {
  list-style: none;
  margin: 0;
  padding: 0;
}

.placeholder {
  border: 1px solid #e6e6e6;
  background: #e6e6e6;
  height: 1rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(0.25turn, transparent, #fff, transparent);
    pointer-events: none;
    opacity: 0.8;
    animation: uploading-animation 2s infinite;
    z-index: 1;
  }
}

@keyframes uploading-animation {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.instructions {
  margin: 0.5rem 0 1rem;

  > * {
    font-size: 0.8rem;
    margin: 0;
  }
}

.section-title {
  font-size: 1rem;
  text-transform: uppercase;
}
