.project-items {
  .list-heading {
    text-transform: uppercase;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
  }

  .item-heading {
    margin-top: 0.25em;
  }
}
