@import 'styles/colors.scss';
@import 'styles/mixins.scss';

.package-files {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  padding-top: 2.6em;
  padding-bottom: 2em;
  font-size: 0.777778rem;

  @include uppercase;

  .heading,
  .heading-group {
    display: flex;
  }

  .heading {
    align-items: center;
    justify-content: space-between;
  }

  .heading-group {
    > .headline {
      margin-bottom: 0;
    }
  }

  .ui.button {
    &.basic.btn--edit {
      color: $light-blue !important;

      &:active,
      &:hover,
      &:focus {
        color: $matisse-blue !important;
        box-shadow: none;
      }
    }
  }
}
