@import "styles/colors.scss";

.edit-video-sidebar {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;

  &-image {
    max-width: 100%;

    &.selected {
      border: 4px solid $bright-blue
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: .7rem;

    &:focus {
      outline: none;
    }

    &:not(:first-child) {
      padding-top: .7rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $blue-green;
    }

    > p {
      margin: 0;
    }
  }
}