@import "../../../styles/colors.scss";

.modal_section.modal_section--postTags {  
  line-height: 0.5;
}

.modal_postTag {
  font-size: 12px;
  font-style: italic;
  line-height: 1.428;
  color: $shuttle-grey;
}
