@import "styles/colors.scss";

.edit-package {
  // same as VideoEdit
  .ui.button {
    padding-top: 0.785714em;
    padding-bottom: 0.785714em;
    font-size: 0.777778rem;
    box-shadow: none !important;

    &:focus,
    &.basic.buttons .button:focus,
    &.basic:focus {
      outline: 2px dotted $medium-grey;
      outline-offset: 2px;
    }

    &.disabled,
    &:disabled {
      cursor: not-allowed;
      pointer-events: auto !important;
    }
  }

  // same as VideoEdit
  &__btn--delete {
    &.ui.basic.button {
      border: 2px solid transparent;
      @media screen and (max-width: 899px) {
        border-color: $grey;
      }
      color: $grey !important;
      font-weight: normal;

      &:hover,
      &:active,
      &:focus {
        border-color: $grey;
        color: #fff !important;
        background-color: $grey !important;
      }

      &.disabled:hover,
      &.disabled:active,
      &.disabled:focus {
        border-color: transparent !important;
        @media screen and (max-width: 899px) {
          border-color: $grey !important;
        }
        color: $grey !important;
        background-color: transparent !important;
      }
    }
  }

  // same as VideoEdit
  &__btn--add-more,
  &__btn--edit,
  &__btn--save-draft {
    &.ui.basic.button {
      border: 2px solid $matisse-blue;
      color: $matisse-blue !important;
      font-weight: bold;
      background-color: #fff;

      &:hover,
      &:active,
      &:focus {
        color: #fff !important;
        background-color: $matisse-blue !important;
      }

      &.disabled:hover,
      &.disabled:active,
      &.disabled:focus {
        color: $matisse-blue !important;
        background-color: transparent !important;
      }
    }
  }

  // almost the same as VideoReview
  &__btn--publish {
    &.ui.button {
      border: 2px solid $green;
      background-color: $green;
      color: #fff;
  
      &:hover,
      &:active,
      &:focus {
        border-color: $matisse-blue;
        background-color: $matisse-blue; // only difference with VideoReview
      }
    }
  }
  
  &__form,
  &__files,
  &__actions {
    padding: 1.75em;
  }
  
  &__form,
  &__files {
    border-bottom: 1px solid $light-grey;
  }

  &__actions {
    text-align: center;

    > .headline {
      font-size: 1.33rem;
    }
  }
}
