@import "styles/colors.scss";
@import "styles/mixins.scss";

.edit-package {
  @media screen and (max-width: 550px) {
    .project_buttons {
      @include two-column-layout;
    }
  }

  .ui.button {
    @include base-button;
  }

  > .actions {
    padding-top: 2em;
    text-align: center;

    .action-btn {
      &.btn--add-more {
        &.ui.basic.button {
          @include ghost-button;
        }
      }
    }
  }

  @include kbd-only-focus-ring;
}
