@import "styles/colors.scss";
@import "styles/mixins.scss";

.edit-package {
  @media screen and (max-width: 550px) {
    .project_buttons {
      @include two-column-layout;
    }
  }

  .ui.button {
    @include base-button;
  }

  &__btn--delete {
    &.ui.basic.button {
      @include transparent-button;
    }
  }

  &__btn--add-more,
  &__btn--edit,
  &__btn--save-draft {
    &.ui.basic.button {
      @include ghost-button;
    }
  }

  &__btn--publish {
    &.ui.button {
      @include go-button;

      &:hover,
      &:active,
      &:focus {
        background-color: $matisse-blue; // only difference with VideoReview
      }
    }
  }

  &__form {
    padding: 1.75em 0;
  }
    
  &__files,
  &__actions {
    padding: 1.75em 1em;
  }

  @media screen and (min-width: 768px) {
    &__form,
    &__files,
    &__actions {
      padding: 1.75em;
    }
  }
  
  &__form,
  &__files {
    border-bottom: 1px solid $light-grey;
  }

  &__actions {
    text-align: center;
  }

  @include kbd-only-focus-ring;
}
