@import 'styles/colors.scss';
@import 'styles/mixins.scss';

.delete,
.remove-file,
.confirm-modal {
  &.ui.small.modal {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 1em 1.5em 1em;
    border-radius: 0;
    font-size: 0.777778rem;

    .actions {
      display: flex;
      justify-content: space-between;
      border: 0;
      background-color: #fff;

      .ui.button {
        border: 2px solid $light-blue;
        font-size: 0.777778rem;
        color: #fff;
        background-color: $light-blue;

        &.primary {
          background-color: #fff;
          color: $light-blue;
        }

        &:active,
        &:hover,
        &:focus {
          border-color: $matisse-blue;
          background-color: $matisse-blue !important;
          color: #fff;
        }

        &:focus,
        &.basic:focus {
          @include focus-styling;
        }
      }
    }
  }

  .content,
  &_confirm {
    padding: 2em;
  }

  .content h2,
  &_confirm {
    text-align: center;
  }
}

.confirm-modal {
  &.ui.small.modal {
    .actions {
      .ui.button {
        flex-basis: 50%;
        background-color: #fff;
        color: $light-blue;

        &.primary {
          border-color: $red;
          background-color: $red;
          color: #fff;

          &:active,
          &:hover,
          &:focus {
            border-color: darken($red, 10%) !important;
            background-color: darken($red, 10%) !important;
          }
        }
      }
    }
  }
}

.remove-file {
  &.ui.small.modal {
    max-width: 478px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    @media screen and (max-width: 467px) {
      padding: 0 1rem;
    }

    .actions {
      justify-content: center;

      @media screen and (max-width: 467px) {
        flex-direction: column;
      }
    }

    .ui.button {
      font-size: 1rem;
    }
  }
  .remove-file__content {
    text-align: center;
    padding: 1rem 0;

    h2 {
      padding: 0 1rem;
      @media screen and (max-width: 378px) {
        padding: 0 0.5rem;
      }
    }
  }
}
