@import "../../../../../styles/colors.scss";

.project_files {

  &_headline {
    position: relative;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -1rem;
    margin-left: -1rem;

    &:after,
    &:before {
      content: "";
      position: absolute;
      left: 0;  
      height: 2px;
      width: 100%;
      background-color: $light-grey;
    }

    &:after {
      bottom: 0;
    }

    &:before {
      top: 0;
    }
  }
}

 
.review-project .project_file {
  position: relative;  
  margin-top: 1em;
  @media screen and (min-width: 768px) {    
    padding-bottom: 2em;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;  
    height: 2px;
    width: 100%;
    background-color: $light-grey;
  } 

  &_header {
    padding-bottom: 0 !important;

    &.RTL {

      .title {
        direction: rtl;
      }      
    }
  }

  &_contents {
    @media screen and (min-width: 768px) {
      padding-top: 0 !important;
    }        
  }

  &_edit {
    text-align: right;
  }

  .file_meta {
    padding-right: 0;

    img {
      width: 100%;
      margin-bottom: 0.5em;
    }        
  }

  .file_info {

    .public_description,
    .additional_keywords {
      margin: 1em 0;
    }

    .public_description {

      span {
        display: block;
      }

      &.RTL {

        span:last-child {
          direction: rtl;
        }        
      }
    }    
  }

}