@import "../../../styles/colors.scss";

.items {
  &_menu {
    position: relative;
    display: inline-block;    
    font-size: 14px;
    color: $blue;
    cursor: pointer;

    .ui.vertical.menu {
      position: relative;
      display: inline-block;
      border: 0;
      width: auto;
      min-height: initial;
      margin: 0;
      font-size: 0.777777778rem;
      -webkit-box-shadow: none;
      box-shadow: none;

      .item {
        padding: 0.25rem 0.5rem;

        .content {
          position: absolute;
          left: 0;
          z-index: 10;
          border: 1px solid $alt-grey;
          border-top: 3px solid $blue;
          border-radius: 0.28571429rem;
          width: 7.75rem;
          margin: 0.25rem 0 0 0;
          padding: 0.5rem !important;
          text-align: left;
          background-color: #fff;
          list-style: none;
        }

        button {
          border: 0;
          height: 100%;
          width: 100%;
          color: $blue;
          text-align: left;
          background-color: #fff;
        }

        [data-tablemenuitem] {
          width: 100%;
          padding: 0.25rem 0;
        }
      }
    }

    .ui.checkbox input.hidden + label {
      font-size: 0.777777778rem;
    }

    &_wrapper {
      text-align: right;
      @media screen and (max-width: 767px) {
        display: none !important;
      }
    }

    [data-tablearrow] {
      display: inline-block;
      border: 0;
      padding-left: 0.222222222rem;
      padding-right: 0.222222222rem;
      color: $blue;
      background-color: #fff;
      cursor: pointer;
    }

    [data-tablearrow]:focus {
      transform: rotate(0);
    }
  }
}
