@import "../../../styles/colors.scss";

.items {
  &_menu {
    position: relative;
    display: inline-block;    
    font-size: 14px;
    color: $blue;
    cursor: pointer;

    .ui.vertical.menu {
      position: relative;
      display: inline-block;
      border: 0;
      width: auto;
      min-height: initial;
      margin: 0;
      font-size: 0.777777778rem;
      -webkit-box-shadow: none;
      box-shadow: none;

      .item {
        padding: 0.25rem 0.5rem;

        .content {
          position: absolute;
          left: 0;
          z-index: 10;
          width: 100%;
          text-align: left;
          background-color: #fff;
        }

        button {
          border: 0;
          height: 100%;
          width: 100%;
          color: $blue;
          text-align: left;
          background-color: #fff;
        }

        .grouped {
          border: 1px solid #ccc;
          border-top: 3px solid $blue;
          padding: 0.5rem;

          [data-tablemenuitem] {
            padding: 0.25rem 0;
          }
        }
      }
    }

    .ui.checkbox input.hidden + label {
      font-size: 0.777777778rem;
    }

    &_wrapper {
      text-align: right;
      @media screen and (max-width: 767px) {
        display: none !important;
      }
    }

    [data-tablearrow]:hover {
      background-color: $light-blue;
      color: #fff;
    }
    
    [data-tablearrow='right'].right.icon {
      margin-right: 0;
    }
  }
}
