@import "styles/colors.scss";

.latestPackages {

  &_section {
    padding: 2em;
    background-color: #f1f1f1;
  }

  &_container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 1em;
    background-color: #fff;
  }

  &_grid {
    padding-bottom: 1em;

    &.ui.grid {
      > .column:not(.row) {        
        width: auto;
        @media screen and (max-width: 992px) {
          width: 50%;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
        }

        .ui.card.package_card {
          @media screen and (max-width: 992px) {
             min-width: auto; 
             max-width: 100%;
          }
        }

        &.card-min-width {

          > .ui.card.package_card {
            min-width: 260px;
          }
        }                

        &.flex-column {
          flex: 1;
          @media screen and (max-width: 992px) {
            flex: auto;
          }
        }
      }
    }
  }

  &_header {
    display: flex;
    justify-content: space-between;

    &_title {
      font-size: 24px;
    }

    &_link {
      font-size: 14px;
      color: $light-blue;
    }
  }
}