@import "styles/colors.scss";
@import "styles/mixins.scss";

.edit-project {
  @include uppercase;

  @media screen and (max-width: 550px) {
    .project_buttons {
      @include multi-column-layout;
    }
  }

  .includeVideoFileNotification {
    opacity: 1 !important;
    transition: opacity 1.5s ease;
  }

  .ui.button {
    @include base-button;

    &.basic.btn--edit {
      color: $light-blue !important;

      &:active,
      &:hover,
      &:focus {
        color: $matisse-blue !important;
        box-shadow: none;
      }
    }
  }

  @media screen and (min-width: 992px) {
    &__form--save {
      width: 100%;
    }
  }

  &__add-more {
    &.ui.basic.button {
      @include ghost-button;
    }
  }

  &__add-more__wrapper {
    margin-top: 0;
    padding-left: 1.75em;
    @media screen and (max-width: 767px) {
      padding-left: 1rem;
    }
  }

  &__items {
    /**
     * use rem for l & r padding to
     * match and override Semantic UI
     */
    padding: 1.75em 1rem;
  }

  &__content,
  &__support-files {
    padding: 1.75em 0;
  }

  &__content,
  &__support-files,
  &__items {
    @media screen and (min-width: 768px) {
      padding: 1.75em;
    }
  }

  &__support-files,
  &__items {
    border-top: 1px solid $light-grey;
  }

  .ui.modal {
    > .content {
      position: relative;
    }
  }
}
