@import "styles/colors.scss";
@import "styles/form.scss";

.ui.fluid.dropdown,
.ui.selection.dropdown {
  font-size: 0.77rem;

  .menu > .item {
    padding: 10px 10px !important;
  }
}

#categories.ui.multiple.dropdown > .label,
#tags.ui.multiple.dropdown > .label {
  padding: 0.4em;
  font-weight: normal;
  color: hsla(0, 0, 0, 0.87);
  background-color: #fff;
}

.field.rtl > #video-tags,
.field.rtl > #video-description,
.field.rtl > .input > #video-title,
.field.rtl > #video-tags > .menu > .item {
  direction: rtl;
  text-align: right;

  & .delete.icon {
    margin-right: 0.5em;
    margin-left: 0em;
  }
}
