.ui.grid .row.items_tableMenus_wrapper {
  padding-bottom: 0; }
  @media screen and (max-width: 930px) {
    .ui.grid .row.items_tableMenus_wrapper {
      flex-direction: column-reverse; } }
  @media screen and (max-width: 767px) {
    .ui.grid .row.items_tableMenus_wrapper .column {
      padding-left: 0;
      padding-right: 0; } }
  .ui.grid .row.items_tableMenus_wrapper .column.items_tableMenus {
    display: flex; }
    @media screen and (min-width: 930px) {
      .ui.grid .row.items_tableMenus_wrapper .column.items_tableMenus {
        justify-content: flex-end;
        margin-bottom: 1em; } }
    @media screen and (max-width: 929px) {
      .ui.grid .row.items_tableMenus_wrapper .column.items_tableMenus {
        margin-bottom: 1em; } }

.items_table {
  position: relative;
  max-height: 500px;
  overflow: scroll;
  border: 1px solid rgba(34, 36, 38, 0.15);
  /* ONLY IN WORKS IN CHROME & SAFARI */ }
  @media screen and (max-width: 767px) {
    .items_table {
      border: none;
      max-height: 300px;
      overflow: auto; } }
  .items_table::-webkit-scrollbar {
    display: none; }
  .items_table_wrapper {
    padding-bottom: 0;
    margin-top: -1.5em !important; }
    @media screen and (max-width: 767px) {
      .items_table_wrapper {
        padding: 20px 0 0 0 !important;
        margin-top: -2em !important; } }
  .items_table table.ui.sortable.table {
    table-layout: fixed;
    width: 100%;
    margin-top: 0;
    border: none;
    border-radius: 0; }
    @media screen and (max-width: 767px) {
      .items_table table.ui.sortable.table thead {
        display: none; } }
    .items_table table.ui.sortable.table th {
      letter-spacing: 0.5px; }
    @media screen and (max-width: 767px) {
      .items_table table.ui.sortable.table tr {
        padding: 5px 3px;
        margin-bottom: 5px;
        border: 1px solid #f1f1f1;
        box-shadow: none !important; } }
    .items_table table.ui.sortable.table td:first-child, .items_table table.ui.sortable.table th:first-child {
      position: sticky;
      left: 0;
      width: 300px !important; }
    .items_table table.ui.sortable.table td {
      z-index: 1;
      background-color: #fff;
      box-shadow: 3px 0 3px 1px rgba(0, 0, 0, 0.1); }
      @media screen and (max-width: 767px) {
        .items_table table.ui.sortable.table td.items_table_item {
          position: relative;
          z-index: 2;
          width: auto !important;
          padding: 0 !important; }
          .items_table table.ui.sortable.table td.items_table_item:not(:first-child) {
            max-height: 0;
            height: auto;
            opacity: 0;
            transition: max-height 0.3s ease, opacity 0.2s ease; } }
      .items_table table.ui.sortable.table td .primary_col {
        display: flex; }
  .items_table_mobileHeader {
    display: inline-block;
    width: 60px;
    margin-right: 2em; }
    @media screen and (min-width: 768px) {
      .items_table_mobileHeader {
        display: none; } }
