@import "styles/colors.scss";
@import "styles/mixins.scss";

.edit-package__form {
  padding: 1.75em 0;
  @media screen and (min-width: 768px) {
    padding: 1.75em;
  }

  @include uppercase;
  @include required-text;

  .headline {
    margin-bottom: 1rem;
  }

  .row:first-child {
    padding-bottom: 0;
  }

  input#type[value="DAILY_GUIDANCE"] {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
