@import "styles/colors.scss";
@import "styles/mixins.scss";

.edit-package__form {
  @include uppercase;
  @include required-text;

  input#type[value="DAILY_GUIDANCE"] {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
