@import "styles/colors.scss";

.edit-package__form {
  // same as VideoEdit
  .uppercase {
    text-transform: uppercase;
  }

  // same as ProjectDetailsForm
  .msg--required {
    color: $red;
    font-size: 0.5em;
    font-weight: normal;
  }
}
