@import "styles/colors.scss";

.edit-package__form {
  // same as VideoEdit
  .uppercase {
    text-transform: uppercase;
  }

  // same as ProjectDetailsForm
  .msg--required {
    color: $red;
    font-size: 0.5em;
    font-weight: normal;
  }

  input#type[value="DAILY_GUIDANCE"] {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
