@import "styles/colors.scss";

.modal_section--metaContent {
  margin-top: 8px;

  .modal_meta {
    &_wrapper {
      display: flex;
      justify-content: space-between;
    }
  
    &_content {
      display: block;
      font-size: 12px;
      line-height: 1.428;
      color: $shuttle-grey;
    }
  }
}

