@import "../../../../styles/colors.scss";

.myProjects {
  
  &_headline {
    margin-bottom: 3em;
    font-size: 12px;
    font-style: italic;
    color: $shuttle-grey;
  }

  &_newItem { 
    @media screen and (max-width: 767px) {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 113, 189, 0.1) !important;
      }
    }    
    
    > td {
      position: relative;

      &:first-child {
        @media screen and (min-width: 768px) {
          z-index: 2 !important;
        }        
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 113, 189, 0.1) !important;
      }
    }
  }

}