@import "../../../styles/colors.scss";

.modal_languages {
  &:hover:after {
    content: "";
    display: block;
    height: 3px;
    background-color: $light-blue;
  }

  &.ui.dropdown {
    > .text {
      font-size: 14px;      
      color: $shuttle-grey;
    }

    .menu {
      border: none;
      border-radius: 0;
      
      > .item {
        font-size: 14px;      
        color: $shuttle-grey;
      }
    }
  }

  .chevron {
    margin: 0 3px !important;
    font-size: 0.75em;
    color: $shuttle-grey;
  }

  &_single {
    display: inline-block;
    margin-right: 1em;
    font-size: 14px;
    color: $shuttle-grey;
  }
}
