@import "styles/colors.scss";

.ui.card.package_card {
  width: 100%; 
  max-width: 260px;
  border-radius: 8px;

  > .content {
    padding-bottom: 0.5em;

    > .header {
      padding: 2.6em 1em;
      margin-bottom: 5px;
      text-align: center;      
      background-color: $blue;

      &:not(.ui),
      > h2 {
        font-size: 15px;
        font-weight: 400;
        color: #fff;
      }
    }
  }

  .meta {
    font-size: 11px;
    line-height: 1.428;
    color: $dark-grey;

    dl.terms.date-time {      
      margin-bottom: 0.5em;

      div > dt {
        margin-right: 0;
        font-weight: normal;
      }

      div > dd {
        margin-right: 0.1em;
      } 
    }
  }

  .package_card_logo {
    margin-top: 3px;

    &_img {
      width: 20px;
      margin-right: 4px;
    }

    &_source {
      font-size: 12px;
      color: $dark-grey;
    }
  }
}
