@import "../../../../../../styles/colors.scss";

.ui.modal.upload_modal {

  &.scrolling {
    @media screen and (max-width: 640px) {
      overflow-x: hidden;
    }
  }  

  &.prepare-files-active {
    max-width: 788px;
  }  
}

.videoProjectFiles {    

  &.ui.form {
    max-width: 640px;
    margin: 0 auto;

    > .ui.grid {
      @media screen and (min-width: 641px) and (max-width: 900px) {
        padding-right: 1em;
        padding-left: 1em;
      }
    }
  }

  &_headline {
    margin-top: -45px !important;
  }

  .ui.grid {
    margin: 0;

    .row {
      padding-top: 0.5em;
      padding-bottom: 0;

      > .column.six {
        padding-left: 0;
        @media screen and (max-width: 640px) {
          padding: 0;
        }
        @media only screen and (min-width: 641px) and (max-width: 991px) {
          width: 37.5% !important;
        }
      }      

      > .column.ten {
        position: relative;
        padding-right: 0;
        @media screen and (max-width: 690px) {
          padding: 0;
        }
        @media only screen and (min-width: 641px) and (max-width: 991px) {
          width: 62.5% !important;
        }
      }
    }
  }

  &_column_labels {
    padding-bottom: 0.5em !important;
    border-bottom: 1px solid $light-grey;
    color: $blue;
    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  &_column_label {
    display: inline-block;
    width: 148px;
    margin-bottom: 0;
    @media screen and (max-width: 640px) {
      display: none;
    }
    @media screen and (min-width: 641px) and (max-width: 900px) {
      width: 125px;
    }    

    &:first-child {
      margin-right: 16px;
    }

    &--required {
      position: relative;

      &:after {
        content: '\2605';
        position: absolute;
        top: -3px;
        font-size: 6px;
        color: red;
      }
    }    
  }

  &_steps {
    text-align: center;
    @media screen and (max-width: 640px) {
      display: none;
    }

    > p {
      display: inline-block;
    }

    > i {
      margin: 0 2em;
      vertical-align: middle;
    }
  }

  &_step {
    font-size: 20px;
    color: $alt-grey;

    &.active {
      position: relative;
      font-weight: bold;
      color: $blue;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 125%;
        height: 5px;
        background-color: $light-blue;
        transform: translateX(-10%);
      }
    }        
  }    
}