@import "styles/colors.scss";

.ui.modal.upload_modal {
  &.scrolling {
    @media screen and (max-width: 640px) {
      overflow-x: hidden;
    }
  }

  &.prepare-files-active {
    max-width: 788px;
  }
}

.videoProjectFiles {
  &__headline {
    margin-top: -45px !important;
  }
}
