@import "../../../../../../styles/colors.scss";

.ui.modal.upload_modal {

  &.prepare-files-active {
    max-width: 788px;
  }  
}

.videoProjectFiles {  

  &.ui.form {
    max-width: 640px;
    margin: 0 auto;
  }

  &_headline {
    margin-top: -45px !important;
  }

  .ui.grid {
    margin: 0;

    .row {
      padding-top: 0.5em;
      padding-bottom: 0;

      > .column.six {
        padding-left: 0;
        @media screen and (max-width: 640px) {
          padding: 0;
        }
      }

      > .column.ten {
        position: relative;
        padding-right: 0;
        @media screen and (max-width: 640px) {
          padding: 0;
        }
      }
    }
  }

  &_column_labels {
    padding-bottom: 0.5em !important;
    border-bottom: 1px solid $light-grey;
    color: $blue;
  }

  &_column_label {
    display: inline-block;
    width: 148px;
    margin-bottom: 0;

    &:first-child {
      margin-right: 16px;
    }

    &--required {
      position: relative;

      &:after {
        content: '\2605';
        position: absolute;
        top: -3px;
        font-size: 6px;
        color: red;
      }
    }
    
  }

  &_steps {
    text-align: center;

    > p {
      display: inline-block;
    }

    > i {
      margin: 0 2em;
      vertical-align: middle;
    }
  }

  &_step {
    font-size: 20px;
    color: $alt-grey;

    &.active {
      position: relative;
      font-weight: bold;
      color: $blue;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 125%;
        height: 5px;
        background-color: $light-blue;
        transform: translateX(-10%);
      }
    }        
  }

  .ui.selection.dropdown {
    display: inline-block;
    min-height: auto;
    height: 30px;
    min-width: 148px;
    padding: 3px 0 0 8px;
    border: 2px solid $light-grey;
    border-radius: 4px;

    .dropdown.icon {
      padding: 0.4em;
    }
  }  
}