@import "styles/colors.scss";

.ui.popup {
  &.FileRemoveReplaceMenu {
    padding: 0.5rem;
    border-radius: 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);

    .FileRemoveReplaceMenu__wrapper {
      display: flex;
      flex-direction: column;

      .FileRemoveReplaceMenu__btn-close {
        font-weight: normal;
        align-self: flex-end;
        padding: 0 0 1rem 0;
      }

      > .FileRemoveReplaceMenu__btn-delete {
        font-weight: normal;
      }
    }
  }
}

[tooltip] {
  margin: 0;
}
