@import "../../../styles/colors.scss";

.modal_postmeta {
  &_content {
    display: block;
    font-size: 12px;
    line-height: 1.428;
    color: $shuttle-grey;
  }

  &_logo {
    height: 5em;
    padding: 1em 0;

    @media screen and (max-width: 767px) {
      width: 50%;
    }
  }
}
