@import "../../../styles/colors.scss";

.modal_postmeta {
  &_content {
    display: block;
    font-size: 12px;
    line-height: 1.428;
    color: $shuttle-grey;
  }

  &_logo {
    height: 5em;
    padding: 1em 0;

    @media screen and (max-width: 767px) {
      width: 50%;
    }
  }

  &--document {

    &_logo {
      position: relative;
      margin-bottom: 1em;
      
      img {
        width: 30px;
        height: auto;
        margin-right: 0.5em;
      }

      p {
        position: absolute;
        top: 50%;
        left: 2em;
        transform: translateY(-50%);
        margin-top: -3px;
      }
    }
  }
}
