.items_display {
  margin-right: 3em;
  color: #112e51; }
  .items_display .ui.inline.dropdown > .text {
    font-weight: normal; }
  .items_display .ui.inline.dropdown .dropdown.icon {
    margin-right: 3px;
    margin-left: 3px; }
