@import "../../../styles/colors.scss";

.upload-content {
  display: inline-block;
  width: 100%;

  .contentTypes {    
    display: flex; 
    justify-content: center;    
    margin: 3em 0;
    text-align: center;
    @media screen and (max-width: 640px) {
      flex-wrap: wrap;      
      margin: 0 0 2em 0;
    }

    .type.ui.button {
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0 1em;
      background: none;
      @media screen and (max-width: 640px) {
        margin: 0 0 1em 0;
        text-align: left;
      }

      &.disabled {
        opacity: 0.5;
      }

      img {
        max-width: 100%;        
        margin-bottom: .5em;
        transition: transform 0.2s;
        @media screen and (max-width: 640px) {
          max-width: 69px;
          margin-bottom: 0;
        }
      }
      
      > span {        
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        font-weight: normal;
        color: $blue;
        @media screen and (max-width: 640px) {
          top: 50%;
          left: 75px;
          transform: translateY(-50%);
        }
      }

      &:hover {        
        background: none;
        cursor: pointer;

        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

.upload_information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;

  h3 {
    font-size: 24px;
    font-weight: normal;
    color: $blue;
    @media screen and (max-width: 640px) {
      margin-bottom: 3px;
    }
  }

  &_advisory,
  &_bestResults {    
    @media screen and (min-width: 641px) {
      width: 50%;
    }
  }

  &_advisory {
    @media screen and (max-width: 640px) {
      margin-bottom: 1em;

      p {
        margin-bottom: 0;
      }
    }

    ol {
      padding-left: 14px;
      line-height: 1.4285em;
      @media screen and (max-width: 640px) {
        margin-top: 0;
      }
    }
  }
}

