@import "../../../styles/colors.scss";

.upload-content {
  display: inline-block;
  width: 100%;
  margin: 3em 0 6em 0;
  @media screen and (max-width: 640px) {
    margin: 0 0 1em 0;
  }

  .contentTypes {
    display: flex;
    justify-content: center;
    text-align: center;
    @media screen and (max-width: 640px) {
      flex-wrap: wrap;
    }

    .type.ui.button {
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0 1em;
      background: none;
      @media screen and (max-width: 640px) {
        margin: 0 0 1em 0;
        text-align: left;
      }

      &.disabled {
        opacity: 0.5;
      }

      img {
        max-width: 100%;
        margin-bottom: 0.5em;
        transition: transform 0.2s;
        @media screen and (max-width: 640px) {
          max-width: 69px;
          margin-bottom: 0;
        }
      }

      > span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        font-weight: normal;
        color: $blue;
        @media screen and (max-width: 640px) {
          top: 50%;
          left: 75px;
          transform: translateY(-50%);
        }
      }

      &:hover {
        background: none;
        cursor: pointer;

        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

.upload_information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;

  h3 {
    font-size: 24px;
    font-weight: normal;
    color: $blue;
    @media screen and (max-width: 640px) {
      margin-bottom: 3px;
    }
  }

  &_advisory,
  &_bestResults {
    @media screen and (min-width: 641px) {
      width: 50%;
    }
  }

  &_advisory {
    @media screen and (max-width: 640px) {
      margin-bottom: 1em;

      p {
        margin-bottom: 0;
      }
    }

    ol {
      padding-left: 14px;
      line-height: 1.4285em;
      @media screen and (max-width: 640px) {
        margin-top: 0;
      }
    }
  }
}

.upload_modal.ui.modal {
  border-radius: 0;
}

.ui.form .upload_actions.field {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.ui.button {
  font-size: 16px;

  &.upload_button {
    border: 2px solid $light-blue;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    &--previous {
      position: absolute;
      z-index: -1;
      color: $light-blue;
      background-color: #fff;
      opacity: 0;
      transition: transform 400ms ease, opacity 300ms ease;
      transform: translateX(100%);

      &:hover {
        border: 2px solid $light-blue;
        background-color: #fff;
      }

      &.display {
        position: relative;
        z-index: 1;
        transform: translateX(0);
        opacity: 1;
      }
    }

    &--next {
      color: #fff;
      background-color: $light-blue;

      &:hover {
        border: 2px solid $blue;
        background-color: $blue;
      }
    }

    &--fileUpload {
      display: inline-block !important;
      font-size: 16px !important;
      color: #fff !important;
      background-color: $light-blue;

      &.inactive {
        opacity: 0.45;
      }

      &.addFile {
        color: $light-blue !important;
        background-color: #fff;
      }

      #upload_video_assets {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 0.1px;
        height: 0.1px;
        padding: 0;
        margin: 0;
        opacity: 0;
        overflow: hidden;
      }
    }

    &--cancelText {
      border-color: #fff;
      font-weight: normal;
      color: $shuttle-grey;
      background-color: #fff;
      box-shadow: none;
    }
  }
}
