@import "styles/colors.scss";

.popover {
  position: relative;
  display: inline-block;

  &_trigger {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 0;
    background: transparent;
    color: $light-blue;
    cursor: pointer;

    &:focus {
      outline: 2px dotted $medium-grey; 
      outline-offset: 2px;
    }
  }

  &_content {
    z-index: 2;
    position: absolute;
    top: calc(100% + 20px);
    left: -10px;
    min-width: max-content;
    font-size: 11px;
    line-height: 1.6;
    overflow-wrap: anywhere;
    word-wrap: anywhere; // FF won't recognize break-word on buttons
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    &.expanded {
      display: block;
    }

    &.expandFromRight {
      right: 0;
      left: auto;

      &:before {
        right: 0;
        left: auto;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      left: 10px;
      background: $light-grey;
      width: 20px;
      height: 20px;
      -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%, 100% 100%);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%, 100% 100%);
    }    
  }
  
}