@import "styles/colors.scss";

.includeRequiredFileMsg.ui.modal {
  border-radius: 0;

  .content {
    font-size: 1em;
  }

  .actions {
    padding: 0.5em;
    border-top: none;
    background-color: #fff;

    .ui.button {
      background-color: $light-blue;
      color: #fff;

      &:hover {
        background-color: $hover-blue;
      }
    }
  }
}
