.videoProjectType.ui.form {
  @media screen and (min-width: 641px) {
    padding-left: 2em;
    padding-right: 2em;
  }

  .field {

    &.disabled {
      opacity: 0.3;
    }

    label, p {
      font-size: 14px;
    }
    
    label {
      font-weight: bold;
    }

    > p {
      padding-left: 1.85714em;
    }
  }

  #upload_video_assets {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    padding: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
  }
  
  
}