@import "styles/colors.scss";
@import "styles/mixins.scss";

.package-file {
  padding-top: 2em;
  padding-bottom: 2em;
  @media screen and (min-width: 768px) {
    padding-bottom: 2.5em;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $light-grey;
  }

  @media screen and (max-width: 767px) {
    .ui.form .fields:not(:last-child),
    .ui.form .fields .field:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  .thumbnail {
    > img {
      @media screen and (max-width: 767px) {
        margin-bottom: 1em;
      }
      height: auto;
      width: 100%;
      max-width: 100%;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
                  0 1px 2px 0 rgba(0, 0, 0, 0.06);
    }

    > .placeholder {
      &.outer {
        position: relative;
        height: 0;
        padding-top: calc(11/8.5 * 100%);
        overflow: hidden;
        background-color: $light-grey;

        > .loader {
          z-index: 15;
        }
      }

      &.inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  .meta {
    > .data {
      margin-bottom: 1.5em;
    }
  }

  @include field-helper-text;
}
