@import 'styles/colors.scss';
@import 'styles/mixins.scss';

.package-file {
  padding-top: 2em;
  padding-bottom: 2em;
  @media screen and (min-width: 768px) {
    padding-bottom: 2.5em;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $light-grey;
  }

  fieldset {
    &.form-fields {
      border: 0;
      margin: 0;
      padding: 0;

      .field > .data {
        // for long strings in title - break word w/ hyphens if browser support, otherwise fallback to wrap
        overflow-wrap: anywhere;
        word-wrap: anywhere;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .ui.form .fields:not(:last-child),
    .ui.form .fields .field:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  .thumbnail {
    > img {
      width: 225px;
      margin-bottom: 1em;
      height: auto;
      max-width: 100%;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      @media screen and (min-width: 767px) {
        width: 100%;
      }
    }
  }

  .meta {
    > .data {
      margin-bottom: 1.5em;      
    }
  }

  @include field-helper-text;
}
