@import "styles/colors.scss";

.package-file {
  &:not(:last-child) {
    border-bottom: 1px solid $light-grey;
  }

  padding-top: 2em;
  padding-bottom: 2em;

  .field__helper-text {
    margin-top: -1em;
    color: $blue;
    font-size: 0.666666667rem;
  }
}
