@import "styles/colors.scss";
@import "styles/mixins.scss";

.edit-project__form {
  .heading {
    line-height: 1;
  }

  @include required-text;

  &.ui.form {
    font-size: 0.777778em;

    @include field-helper-text;

    textarea {
      font-family: inherit;
    }

    .field {
      > label {
        font-weight: normal;
      }

      &.with-helper-text {
        > textarea:not(#alt) {
          margin-bottom: -1em;
        }

        > label[for="alt"] > span {
          margin-left: 0.625rem;
        }
      }

      &.disabled {
        opacity: 1;

        > label {
          opacity: 1;
        }
      }

      &.error {
        input[type="text"],
        .ui.dropdown,
        .ui.dropdown .text {
          background: initial;

          .ui.dropdown {
            background: initial;
          }
        }

        input[type="text"]:focus {
          border-color: $half-baked;
        }

        .ui.checkbox:not(.toggle):not(.slider) input:focus {
          ~ label {
            color: initial;
            &:before {
              border-color: $half-baked;
              background: initial;
            }
          }
        }
      }
    }
  }

  &--save {
    &.ui.button {
      margin: 0;
      color: #fff;
      background-color: $light-blue;
    }
  }
}
