@import "../../../../../styles/colors.scss";

.video {
  :focus:not(:focus-visible) {
    outline: none
  }

  .thumbnail {
    position: relative;

    &.isUploading {
      filter: blur(0.5px) grayscale(0.875);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
    
    > .file-name {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
      padding: 0.5em;
      font-size: 0.625em;
      color: #fff;
      background-color: rgba(91, 97, 107, 0.8);
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      transition: all 200ms linear;
    }

    > .loading-animation {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .item-lang {
    font-size: 0.875em;
    text-transform: capitalize;
  }

  .rtl {
    direction: rtl;
    text-align: right;
  }

  .modal-trigger {
    padding: 0;
    border: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    text-align: left;

    > .ui.active.progress {
      border-radius: 0;
      background-color: $light-grey;
  
      .bar {
        border-radius: 0;
        &::after {
          border-radius: 0;
        }
      }
  
      > .label {
        font-weight: normal;
        text-align: left
      }
    }

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
    }

    &:focus {
      outline: 2px dotted $medium-grey;
      outline-offset: 2px;
    }
  }
}
