@import "styles/mixins.scss";

.radio {
  display: grid !important;
  align-items: center;
  grid-template-columns: min-content auto;
  grid-gap: 0.5rem;
  font-size: 0.89rem !important;

  &:first-child {
    margin-right: 1rem !important;
  }

  &:hover {
    cursor: pointer;
  }

  .input {
    display: flex;

    [type="radio"] {
      opacity: 0;
      width: 0;
      height: 0;

      &:focus + .control {
        @include focus-styling($color: #fff, $kbd_only: false);
      }

      &:focus:not(:focus-visible) + .control {
        outline: none;
      }
    }
  }

  .control {
    display: grid;
    place-items: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.1rem solid #fff;
    background-color: #fff;
  }

  [type="radio"] + .control::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    box-shadow: inset 0.5rem 0.5rem currentColor;
    border-radius: 50%;
    transition: 50ms transform ease-in-out;
    transform: scale(0);
  }

  [type="radio"]:checked + .control::before {
    transform: scale(1);
  }

  .label {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    transition: 50ms all ease-in-out;
  }
}
