@import "styles/colors.scss";
@import "styles/mixins.scss";

.edit-graphic-project {
  @include kbd-only-focus-ring;
  @include uppercase;

  @media screen and (max-width: 550px) {
    .project_buttons {
      @include two-column-layout;
    }
  }

  .ui.button {
    @include base-button;
  }

  // @media screen and (min-width: 992px) {
  //   &__form--save {
  //     width: 100%;
  //   }
  // }

  .status {
    font-size: 0.875em;

    &.beta {
      > .ui.progress {
        margin-bottom: 4.75em;
      }
    }

    > .ui.progress {
      border-radius: 0;
      margin-bottom: 3em;
      font-size: 0.875em;
      background-color: $light-grey;

      .bar {
        border-radius: 0;
        &::after {
          border-radius: 0;
        }
      }

      .label {
        font-weight: normal;
      }
    }
  }

  // &__items {
  //   /**
  //    * use rem for l & r padding to
  //    * match and override Semantic UI
  //    */
  //   padding: 1.75em 1rem;
  // }

  .content,
  .graphic-support-files {
    padding: 1.75em 0;
  }

  .content,
  .graphic-support-files,
  .graphic-files {
    @media screen and (min-width: 768px) {
      padding: 1.75em;
    }
  }

  // .ui.modal {
  //   > .content {
  //     position: relative;
  //   }
  // }

  .ui.active.progress {
    .bar {
      &::after {
        background: repeating-linear-gradient(
          45deg,
          #ffffff,
          #ffffff 1em,
          $curious-blue 1em,
          $curious-blue 2em
        );
      }
    }
  }

  .graphic-support-files,
  .graphic-files {
    border-top: 1px solid $light-grey;
  }

  @media screen and (min-width: 992px) {
    .graphic-support-files > .container {
      display: grid;
      grid-template-columns: 0.5fr 1px 0.5fr;
      gap: 1rem;

      > .separator {
        border-right: 1px solid $light-grey;
      }
    }
  }
}
