@import "styles/mixins.scss";

.edit-graphic-project {
  @include kbd-only-focus-ring;
  @include uppercase;

  @media screen and (max-width: 550px) {
    .project_buttons {
      @include two-column-layout;
    }
  }

  .ui.button {
    @include base-button;
  }

  .support-files {
    border-top: 1px solid $light-grey;
    padding: 1.75em 0;

    @media screen and (min-width: 768px) {
      padding: 1.75em;
    }
  }

  .graphic-files {
    border-top: 1px solid $light-grey;

    @media screen and (min-width: 768px) {
      padding: 1.75em;
    }
  }
}
