@import 'styles/colors.scss';
@import 'styles/mixins.scss';

.edit-playbook {
  padding: 6.7rem 1rem 0;
  @media screen and (min-width: 768px) {
    padding: 5rem 2rem 0;
  }

  @media screen and (max-width: 550px) {
    .project_buttons {
      @include multi-column-layout;
    }
  }

  .ui.button {
    @include base-button;
  }

  > .actions {
    padding-top: 2em;
    text-align: center;

    .action-btn {
      &.btn--add-more,
      &.btn--edit {
        &.ui.basic.button {
          @include ghost-button;
        }
      }
    }
  }
}
