@import "../../../../../styles/colors.scss";

.edit-project__form {
  .heading {
    line-height: 1;
  }

  .msg--required {
    color: $red;
    font-size: 0.5em;
    font-weight: normal;
  }

  &.ui.form {
    textarea {
      font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
    }

    .field {
      > label {
        // color: $red;
        font-size: 1em;
        font-weight: normal;
      }

      &.error {
        input[type="text"],
        .ui.dropdown,
        .ui.dropdown .text {
          background: initial;
          // color: $red;
          // border-color: $red;

          .ui.dropdown {
            background: initial;
          }
        }

        // label {
        //   color: initial;
        // }

        // .checkbox:not(.toggle):not(.slider) label {
        //   color: initial;
        // }

        input[type="text"]:focus {
          border-color: $half-baked;
        }

        .ui.checkbox:not(.toggle):not(.slider) input:focus {
          ~ label {
            color: initial;
            &:before {
              border-color: $half-baked;
              background: initial;
            }
          }
        }
      }
    }
  }

  .ui.checkbox {
    @media screen and (min-width: 768px) and (max-width: 991px) {
      margin-bottom: 2em;
    }

    @media screen and (min-width: 992px) {
      input + label {
        max-width: 75ch;
      }
    }
  }

  &--save {
    &.ui.button {
      margin: 0;
    }
  }
}
