@import "styles/colors.scss";

.carousel {

  &-container.mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  &-content.vertical {
    display: flex;
    flex-direction: row-reverse;

    &.mobile {
      flex-grow: 1;
    }
  }

  &-item {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &-items {
    display: flex;
    margin: 0;
    overflow: hidden;
    padding: 0 1rem;

    &.vertical {
      flex-basis: 100%;
      flex-direction: column;
      height: 390px;

      &.mobile {
        height: auto;
        flex-direction: row;
      }

      &.with-legend {
        flex-basis: 90%;
      }
    }
  }

  &-legend {
    display: flex;
    margin-top: 1.5rem;

    &-button {
      background-color: $matisse-blue;
      border: none;
      color: white;
      cursor: pointer;
      height: 36px;
      padding: 0;
      width: 36px;

      &:disabled {
        background-color: white;
        color: $blue-green;
        cursor: default;
      }

      > i {
        margin: 0
      }
    }

    &.vertical {
      align-items: center;
      margin-top: 0;
    }
  }

  &-progress {

    &-bar {
      align-items: center;
      display: flex;

      &.vertical {
        flex-direction: column;
      }
    }
    
    &-item {
      background-color: $blue-green;
      border-radius: 50%;
      height: 10px;
      margin: 0 .2rem;
      width: 10px;

      &.selected {
        background-color: $matisse-blue;
      }

      &.vertical {
        margin: .2rem 0;
      }
    }
  }
}

.scroll {

  &-button {
    background-color: $matisse-blue;
    color: white;
    text-align: center;

    &.hidden {
      visibility: hidden;
    }

    @media screen and ( max-width: 991px ) {
      align-items: center;
      display: flex;
    }

    &.up {
      transform: translateY( -1rem );

      @media screen and ( max-width: 991px ) {
        transform: translateY( 0 );
      }

      &:hover {
        transform: translateY( 0 );
      }
    }

    &.down {
      transform: translateY( 1rem );

      @media screen and ( max-width: 991px ) {
        transform: translateY( 0 );
      }

      &:hover {
        transform: translateY( 0 );
      }
    }

    > i {
      @media screen and ( max-width: 991px ) {
        transform: rotate( -90deg );
        padding: 0;
      }
    }
  }

  &-icon {
    padding: 5px 0;
  }
}