@import "styles/colors.scss";

.package-preview {
  .modal_headline {
    margin-top: 1.5em;
    margin-bottom: 0.25em;
  }

  .date-time {
    > div > dt {
      font-weight: 400;
    }
  }

  .modal_options {
    justify-content: flex-end;

    > .trigger-container {
      display: flex;

      > .file-count {
        color: $matisse-blue;
      }
    }
  }

  .files {
    border-top: 1px solid $light-grey;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    .ui.card {
      border-radius: 0.111111111rem;

      .use-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0.111111111rem 0.111111111rem 0 0 !important;
        padding: 1em;
        color: #ffffff;
        background-color: $blue;
      }

      .seal {
        display: flex;
        align-items: center;

        > img {
          margin-right: 0.5em;
        }
      }

      .meta {
        > .seal {
          color: initial;
          font-family: Georgia, serif;
        }
      }

      > .header > .title {
        padding: 1em;
        font-size: 0.777777778rem
      }
    }

    .ui.cards > .card > .content,
    .ui.card > .content {
      border-top: 0;
    }

    .ui.cards > .card .meta,
    .ui.card .meta {
      padding: 1em;
      text-align: left;
      background: transparent;
    }
  }
}

.Package-preview {
  &.ui.fullscreen.modal > .close {
    top: auto;
  }
}
