.ui.modal.upload_modal {

  &.project-type-active {
    max-width: 430px;

    .ui.form > p {
      margin: 0 0 1em;
    }
  }  
}

.videoProjectType.ui.form { 

  @media screen and (min-width: 641px) {
    padding-left: 2em;
    padding-right: 2em;
  }

}