@import "styles/colors.scss";

.ui.card.package_card {
  width: 100%; 
  max-width: 260px;
  border-radius: 8px;

  &.stretch {
    max-width: 100%;

    &:hover {
      transform: none;
    }

    .content {
  
      .header {
        height: 100%;
        margin-bottom: 10px;
      }

      .media.seal {
        margin-top: 5px;
        margin-bottom: 5px;
        color: $grey;
      }
    }
  }

  .content {
    padding-bottom: 0.5em;

    .header {
      padding: 2.6em 1em;
      margin-bottom: 5px;
      text-align: center;      
      background-color: $blue;
      cursor: pointer;

      button {
        -webkit-appearance: none;
        margin: 0;
        padding: 0;
        border: none;    
        background-color: $blue;
        cursor: pointer;

        &:focus {
          outline: 2px dotted $medium-grey; 
          outline-offset: 2px;
        }

        h2, p {
          font-family: 'Source Sans Pro';
          font-size: 15px;
          font-weight: 400;
          color: #fff;
        }
      }
    }
  }

  .meta {
    font-size: 11px;
    line-height: 1.428;
    color: $dark-grey;

    dl.terms.date-time {      
      margin-bottom: 0.5em;

      div > dt {
        margin-right: 0;
        font-weight: normal;
      }

      div > dd {
        margin-right: 0.1em;
      } 
    }
  }
}
