@import "styles/colors.scss";

.internal-use {
  font-size: 12px;
  color: #000;
  background-color: $blue-green;

  &.expanded {
    width: 100%;
    margin-top: 2em;
    padding: 11px 0;
    text-align: center;
  }

  &.brief {
    display: inline-block;
    margin: 0 1em 0 0;
    padding: 4px 10px;
    vertical-align: top;
  }
}
