@import "../../styles/colors.scss";

.ui.divided.horizontal.list.documentation-nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  >.item {
    display: flex;
    border-left-color: #112e51;
    font-weight: bold;

    @media screen and (max-width: 1000px) {
      display: block;
      border-left: none;
      justify-content: center;
    }
  }

  >.item:not(:last-child) {
    padding-right: 0.8em;
    display: flex;

    @media screen and (max-width: 1000px) {
      padding-right: 0;
      margin-bottom: 1em;
    }
  }

  >.item:not(:first-child) {
    padding-left: 0.8em;
    display: flex;

    @media screen and (max-width: 1000px) {
      padding-left: 0;
    }
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }

}