@import "../../../styles/colors.scss";

.modal_section--description {
  margin-top: 1em;
}

.modal_description {
  &_label {
    font-size: 12px;
    color: $shuttle-grey;
  }

  &_text {
    padding: 0;
    font-size: 18px;
    color: #000;
  }
}
