@import "styles/colors.scss";

.modal_section--description {
  margin-top: 1em;
  word-break: break-all; // Safari
  overflow-wrap: anywhere;
}

.modal_description {
  &_label {
    font-size: 12px;
    color: $shuttle-grey;
  }

  &_text {
    padding: 0;
    font-size: 1rem;
    color: inherit;
  }
}
