@import "styles/colors.scss";
@import "styles/mixins.scss";

.modal_section--description {
  margin-top: 1em;
  @include wrap-text;
}

.modal_description {
  &_label {
    font-size: 12px;
    color: $shuttle-grey;
  }

  &_text {
    padding: 0;
    font-size: 1rem;
    color: inherit;
  }
}
