@import 'styles/colors.scss';
@import 'styles/mixins.scss';

.results_toggleView {
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 767px) {
    z-index: 3;
    margin-top: 1em;
  }

  > button {
    @include button-style-reset($cursor: pointer);

    &:hover {
      [tooltip]::after,
      [tooltip]::before {
        opacity: 1;
      }
    }

    &:focus {
      @include focus-styling;
    }

    &[disabled] {
      cursor: default;
    }
  }

  span {
    margin: 0;
    pointer-events: none;

    &.noTooltip:before,
    &.noTooltip:after {
      display: none;
    }
  }

  .icon {
    font-size: 1.3em;

    &.active {
      color: $medium-grey;
    }
  }
}
