@import 'styles/colors.scss';
@import 'styles/mixins.scss';

.priorities {
  background: url("../../../static/images/wavy-bg.jpg") repeat;
  padding: 2em;
  @media screen and (max-width: 767px) {
    padding: 1em;
  }

  &container {
    max-width: 1340px;
    padding: 1em;
    margin: 0 auto;
    background: white;    
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

    :focus {
      @include focus-styling;
    }
  }

  &title {
    display: flex;
    justify-content: space-between;
    position:relative;
    @media screen and (max-width: 900px) {
      flex-direction: column-reverse;
    }

    h1.ui.header {
      position: relative;
      left: -1rem;
      padding: 0.5em 1em;
      background: $blue;
      color: #fff;
      @media screen and (max-width: 900px) {        
        margin-bottom: 8px;
        font-size: 20px;
      }
      @media screen
      and (min-width: 768px)
      and (max-width: 900px) {
        margin-bottom: 1em;
      }
    }

    .browseAll {
      position: absolute;
      bottom: 0.5em;
      font-size: 0.8em;
      right: 0;
      @media screen and (max-width: 900px) {
        position: relative;        
        margin-bottom: 8px;
        text-align: right;
      }
    }
  }

  &left {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    @media screen and (max-width: 767px) {
      height: 300px;
    }

    :focus {
      @include focus-styling($color: #fff);
    }
  }

  .ui.stackable.grid {
    margin-bottom: 0;
  }
  .ui.stackable.grid > .column.prioritiesgridleft,
  .ui.stackable.grid > .column.prioritiesgridright {
    @media screen and (max-width: 767px) {
      padding-right: 0 !important;
      padding-left: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  &gridleft {
    &.column {
      padding-right: 0 !important;
      padding-bottom: 0 !important;
      min-height: 320px;
    }
  }

  &gridright {
    .ui.items {
      height: 100%;

      .item {
        height: 50%;
        @media screen and (max-width: 767px) {
          height: auto;
        }        
      }
    }
  }

  &overlay {
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.75) 100%
    );
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
    font-size: 1.6em;
    font-weight: 600;
    padding: 2em 0 0.5em 0.5em;
    line-height: 1.2em;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 1px -1px 0 rgba(0, 0, 0, 0.3),
      -1px 1px 0 rgba(0, 0, 0, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.3);

    &_title {
      width: 80%;
      @include hyphenate;
      @include wrap-text;
    }

    &_icon {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
    }
  }

  .ui.header:last-child {
    margin-bottom: 0.7em;
  }

  > .ui.large.header {
    font-size: 1.33em;
  }
}

.ui.items .item.prioritiesItem {
  border: 1px solid $light-grey;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  @media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    min-height: calc( 100vw - 2em );
  }
  @media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape)  { 
    min-height: calc( 100vh - 2em );
  }

  .prioritiesItem_img {
    position: relative;
    min-width: 195px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @media screen and (max-width: 767px) {
      min-height: 195px;
      height: 100%;
    }

    .metaicon {
      position: absolute;
      right: 5px;
      bottom: 10px;
    }
  }

  .content {
    padding: 0.8em 0.8em 0.5em 0.8em;
    display: flex;
    flex-flow: column;

    .header {
      margin-bottom: 1rem;
      font-size: 1.1rem;
      line-height: 1.2em;
      color: $blue;
      @media screen and (max-width: 991px) {
        font-size: 1em;
      }
      @media screen and (max-width: 767px) {
        margin-bottom: 1em;
      }
    }

    .meta {
      margin-top: auto;
      //margin-bottom: 1em;
      line-height: 1.2em;
      font-size: 0.77rem;
      @media screen and (max-width: 991px) {
        position: relative;
      }

      .date {
        display: block;
        color: $blue;
      }

      .categories {
        display: block;
        color: $grey;
        @media screen and (max-width: 991px) {
          font-size: 0.8em;
        }
      }
    }
  }
}
