@import "styles/colors.scss";
@import "styles/mixins.scss";

$image-height: 12rem;

.graphic-project-graphic-files {
  .no-files {
    font-size: 0.888888889rem;
  }

  .form-fields {
    @include multi-column-layout(
      $length: auto-fill,
      $flex: minmax( 300px, 0.5fr ),
      $gap: 2rem
    );

    fieldset {
      &[class^="graphic-file"] {
        border: 0;
        margin: 0;
        padding: 0;
      }

      .RTL {
        input {
          direction: rtl;
          text-align: right;
        }
      }
    }

    .two-col {
      @include multi-column-layout(
        $length: auto-fill,
        $flex: minmax( 150px, 1fr ),
        $gap: 1rem
      );
    }

    .error-message {
      margin-bottom: 1.25rem;
    }

    .image-wrapper {
      position: relative;
      display: grid;
      align-items: center;
      grid-template-areas: 'card';
      height: $image-height;
      margin-bottom: 1rem;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.05) 0%,
        $grey-medium-transparent 90%
      );

      > .thumbnail {
        grid-area: card;
        display: block;
        height: auto;
        max-height: $image-height;
        width: 100%;
        object-fit: contain;
        font-size: 0.777777778rem;
        @include wrap-text;
      }

      // trash can overlay
      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        content: '';
        display: block;
        width: 100%;
        background-color: $grey-medium-transparent;
        opacity: 0;
        transition: all 200ms linear;
      }

      &.unavailable {
        // hide the trash can if no projectId
        .ui.basic.buttons.FileRemoveReplaceButtonGroup__btn-group {
          display: none;
        }

        &::before {
          background-color: rgba(0, 0, 0, 0.2);
          opacity: 1;
        }
      }

      .ui.basic.buttons.FileRemoveReplaceButtonGroup__btn-group {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        height: 44px;
        width: 44px;

        > .ui.button {
          opacity: 0;
          transition: all 200ms linear;

          &:focus {
            background-color: $grey-medium-transparent !important;
          }

          &:hover,
          &:active {
            background-color: transparent !important;
          }

          &:hover,
          &:focus,
          &:active {
            border-radius: 0;
            opacity: 1;
          }

          [tooltip] {
            img {
              height: 22px;
            }

            &::after {
              z-index: 300;
            }
          }
        }
      }

      &.available {
        &:hover {
          // display the trash can overlay
          &::before {
            opacity: 1;
          }

          .ui.basic.buttons.FileRemoveReplaceButtonGroup__btn-group {
            > .ui.button {
              opacity: 1;
            }
          }
        }
      }

      .meta-wrap {
        position: absolute;
        bottom: 0;
        z-index: 10;
        padding: 0.5rem;
        width: 100%;
        background-color: $grey-medium-transparent;

        > .meta {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .filename {
            span,
            [tooltip] {
              @include overlay-text;
            }

            [tooltip] {
              &:focus {
                @include focus-styling;
              }
            }
          }

          .filesize {
            @include overlay-text;
          }
        }
      }
    }

    .progress-bar {
      display: grid;
      grid-template-columns: 2.25rem 1fr;
      gap: 0.25rem;
      margin-bottom: 1rem;

      .cancel-upload {
        @include button-style-reset($font-size: 0.777777778rem);

        &:focus {
          @include focus-styling;
        }
      }

      .file-progress--wrapper {
        .ui.progress.active {
          margin-top: 7px;
          margin-bottom: 0;
        }
      }
    }

    &.ui.form {
      .disabled.field {
        opacity: 1;

        // > label {
        //   opacity: 1;
        // }
      }
    }
  }
}
