@import "styles/colors.scss";

.graphic-project {

  &__popover {

    .popover_content {
      top: calc( 100% + 8px );

      &:before {
        top: -8px;
        width: 15px;
        height: 8px;
        margin-right: 2px;
        background: $bright-blue;        
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 5px;
        background-image: linear-gradient(90deg, $light-blue 3%, $bright-blue 100%);
      }
    }

    &--share {
      margin-right: 5px;
      .popover_content {
        font-size: 1rem;        
      }
    }
  }
}