@import "styles/colors.scss";
@import "styles/mixins.scss";

.edit-package {
  &__actions {
    padding-top: 2em;
    text-align: center;
  }

  .action-btn {
    &.btn--add-more {
      &.ui.basic.button {
        @include ghost-button;
      }
    }
  }

  &.btn--publish {
    &.ui.button {
      @include go-button;
  
      &:hover,
      &:active,
      &:focus {
        background-color: $matisse-blue; // only difference with VideoReview
      }
    }
  }
}
