$blue: #112e51;
$ice-blue: #e1f3f8;
$light-blue: #0071bc;
$half-baked: #85b7d9;
$bright-blue: #02bfe7;
$curious-blue: #2185d0;
$twitter-blue: #1da1f2;
$fb-blue: #3b5998;
$green: #2e8540;
$hover-blue: #205493;
$matisse-blue: #205493;
$blue-green: #d6d7d9;
$focus-grey: #767676;
$light-grey: #f1f1f1;
$medium-grey: #b2b4b8;
$alt-grey: #d6d7d9;
$grey: #5b616b;
$shuttle-grey: #5b6168;
$dark-grey: #050505;
$gold: #fdb81e;
$orange: #faab1a;
$linen: #fbe7e7;
$chablis: #fff6f6;
$cavern-pink: #e0b4b4;
$red: #cd2026;
$grey-medium-transparent: rgba(0, 0, 0, 0.4);
