@import 'styles/colors.scss';

@mixin focus-styling($color: $focus-grey) {
  outline: 2px dotted $color;
  outline-offset: 2px;
}

// base button styles to override Semantic
@mixin base-button {
  padding-top: 0.785714em;
  padding-bottom: 0.785714em;
  font-size: 0.777778rem;
  box-shadow: none !important;

  &:focus,
  &.basic.buttons .button:focus,
  &.basic:focus {
    @include focus-styling;
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    pointer-events: auto !important;
  }
}

// buttons with white background, blue borders and text, e.g.,
// `Save & Exit` and `Edit` buttons on details pages
@mixin ghost-button($color: $matisse-blue) {
  border: 2px solid $color;
  color: $color !important;
  font-weight: bold;
  background-color: #fff;

  &:hover,
  &:active,
  &:focus {
    color: #fff !important;
    background-color: $color !important;
  }

  &.disabled:hover,
  &.disabled:active,
  &.disabled:focus {
    color: $color !important;
    background-color: transparent !important;
  }
}

// buttons with transparent borders, e.g., `Delete Project`
// and `Delete All` buttons on details pages
@mixin transparent-button($color: $grey) {
  border: 2px solid transparent;
  @media screen and (max-width: 899px) {
    border-color: $color;
  }
  color: $color !important;
  font-weight: normal;

  &:hover,
  &:active,
  &:focus {
    border-color: $color;
    color: #fff !important;
    background-color: $color !important;
  }

  &.disabled:hover,
  &.disabled:active,
  &.disabled:focus {
    border-color: transparent !important;
    @media screen and (max-width: 899px) {
      border-color: $color !important;
    }
    color: $color !important;
    background-color: transparent !important;
  }
}

// green buttons (can't think of another name
// that's not tied to the button action, so "go"), e.g.,
// `Publish`, `Publish Changes`
@mixin go-button($primary-color: $green, $secondary-color: $matisse-blue) {
  border: 2px solid $primary-color !important;
  color: #fff !important;
  background-color: $primary-color !important;

  &:hover,
  &:active,
  &:focus {
    border-color: $secondary-color !important;
    background-color: $secondary-color !important;
  }
}

// creates a multicolumn grid
@mixin multi-column-layout($length: 2, $flex: 0.5fr, $gap: 1em) {
  display: grid;
  grid-template-columns: repeat($length, $flex);
  gap: $gap;
}

// Remove outline for non-keyboard :focus
@mixin kbd-only-focus-ring {
  *:focus:not(:focus-visible) {
    outline: none;
  }
}

// used for "Required Fields *"
@mixin required-text($color: $red) {
  .msg--required {
    color: $color;
    font-size: 0.5em;
    font-weight: normal;
  }
}

// used for helper text under a form input, e.g.,
// ProjectDetailsForm, PressPackageFile
@mixin field-helper-text($color: $blue) {
  .field__helper-text {
    color: $color;
    font-size: 0.666666667rem;
  }
}

@mixin uppercase {
  .uppercase {
    text-transform: uppercase;
  }
}

@mixin button-style-reset(
  $font-family: inherit,
  $font-size: 1rem,
  $color: inherit,
  $text-align: left
) {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
  text-align: $text-align;
  background-color: transparent;
}

@mixin text-shadow(
  $x-offset: 0,
  $y-offset: 0,
  $blur-radius: 0.222222222rem,
  $color: #000
) {
  text-shadow: $x-offset $y-offset $blur-radius $color;
}

@mixin overlay-text {
  font-size: 0.666666667rem;
  color: #fff;
  @include text-shadow;
}

@mixin hyphenate {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin wrap-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
