/*----------------------------------------------------
  Import semantic-ui-sass and set default variables
-----------------------------------------------------*/
$import-google-fonts: true !default;
$font-url: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" !default;
$font-name: "Source Sans Pro" !default;
$font-family: $font-name, "Helvetica Neue", Arial, Helvetica, sans-serif !default;
$icons-font-path: "~semantic-ui-sass/icons";
$flags-image-path: "~semantic-ui-sass/images";

@import "~semantic-ui-sass/semantic-ui.scss";
@import "colors.scss";

/*---------------------------------
  Override some semantic defaults
----------------------------------*/

/* font-size is not an available semantic sass override variable */
$font-size: 18px;

html,
body {
  height: 100%;
}

html {
  font-size: $font-size;
}

body {
  font-size: $font-size;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3em;
  color: $blue;
  font-weight: 700;
}

h6 {
  font-weight: 400;
  line-height: 1.5em;
}

h1,
h1.ui.header {
  font-size: 1.56rem; // 28px
}

h2,
h2.ui.header {
  font-size: 1.44rem; // 26px;
}

h3,
h3.ui.header {
  font-size: 1.33rem; // 24px;
}

h4,
h4.ui.header {
  font-size: 1.11rem; // 20px;
}

h5,
h6,
h5.ui.header,
h6.ui.header {
  font-size: 1rem; // 18px;
}

.ui.container {
  width: 100%;

  @media only screen and (min-width: 768px) {
    padding-left: 2em;
    padding-right: 2em;
  }

  // @media only screen and (min-width: 1200px) {
  //   padding-left: 3em;
  //   padding-right: 3em;
  // }

  @media only screen and (min-width: 1600px) {
    width: 1601px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  /* Non home pages need margin to clear the fixed header */
  &.inside {
    margin-top: 6.7rem;
    @media only screen and (min-width: 768px) {
      margin-top: 5rem;
    }
  }

  /* some inside pages should not extend to 1200px */
  .max_width_1200 {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.ui.button {
  border-radius: 4px;
  color: #ffffff;
  padding: 0.6em 1.5em;
  font-size: 0.888rem;

  &:focus {
    outline: 2px dotted $focus-gray;
  }

  &.primary {
    background-color: $light-blue;
    padding: 0.7em 1.5em;

    &:focus {
      background-color: $hover-blue;
    }

    &:hover {
      background-color: $hover-blue;
    }

    &:active {
      background-color: $blue;
    }
  }

  &.secondary {
    background-color: #ffffff;
    color: $hover-blue;
    border: 2px solid $light-blue;

    &:focus {
      background-color: #ffffff;
      color: $hover-blue;
      border: 2px solid $hover-blue;
    }

    &:hover {
      background-color: $hover-blue;
      color: #ffffff;
    }

    &:active {
      background-color: $blue;
    }

    &.alternative {
      color: $grey;
      font-weight: normal;
      background-color: transparent;
      border: 2px solid transparent;

      &:hover,
      &:active,
      &:focus {
        border-color: $grey;
        color: #fff !important;
        background-color: $grey !important;
      }
    }
  }

  // @media screen and (max-width: 899px) {
  //   border-color: $grey;
  // }

  &.no-background {
    border: none;
    background: transparent;
    color: $blue;
  }
}

.ui.modal > .content {
  font-size: 0.77em;
  padding: 1.3em;
}

.ui.modal {
  border-radius: 0;
}

.ui.embed > .icon:before {
  font-size: 4.5rem;
}

.error-message {
  font-size: 0.8rem;
  font-style: italic;
  color: $red;
}

/* hide content but not from screen readers */
.visibly-hidden {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  padding: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
}

.linkStyle {
  color: $light-blue;
  cursor: pointer;
}

.helperText {
  font-size: 0.775em;
  color: $grey;

  &.italic {
    font-style: italic;
  }
}