@import "../../styles/colors.scss";

.searchTerm {
  text-align: center;
  padding: 1em 0 1.6em 0;
  @media screen and (min-width: 1100px) {
    padding: 0 0 1.6em 0;
  }
}
.ui.header.searchTermQuery {
  color: $blue;
  margin-bottom: 0;
  font-size: 1.4rem;
  @media screen and (min-width: 768px) {
    font-size: 1.6rem;
  }
}
.ui.header .sub.header.searchTermTotal {
  color: $grey;
  margin-bottom: 0;
  font-size: 0.9rem;
}
