.project_support-files {
  box-shadow: none !important;
  p {
    line-height: 1.5285em; 
  }

  .thumbnails {
    &_img {
      width: 100%;
    }        
  }

  .checkbox {
    margin-top: 1em;
  }
}
