@import "styles/colors.scss";

.pressSource {  

  &_source {
    font-size: 18px;    
  }

  &_content {
    display: block;
    font-size: 12px;
    line-height: 1.428;
    color: $shuttle-grey;
  } 
}