.myProjects_actions {
  margin-right: 15px; }
  @media screen and (max-width: 767px) {
    .myProjects_actions {
      margin-right: 0; } }

.myProjects_thumbnail {
  flex: 1;
  margin-right: 15px; }
  @media screen and (max-width: 767px) {
    .myProjects_thumbnail {
      margin-right: 0;
      padding: 0 3px;
      max-width: 66px; } }
  .myProjects_thumbnail img {
    width: 100%; }

.myProjects_data {
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column; }
  .myProjects_data_title {
    flex: 1;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    color: #112e51; }
    @media screen and (max-width: 767px) {
      .myProjects_data_title {
        max-width: 155px;
        font-size: 14px; } }
    .myProjects_data_title:hover {
      color: #0071bc; }
  .myProjects_data_actions button {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    background-color: transparent; }
  @media screen and (max-width: 767px) {
    .myProjects_data_actions_wrapper {
      display: none;
      position: absolute;
      top: 0;
      right: 8px;
      z-index: 2;
      padding: 10px;
      background-color: #fff;
      box-shadow: 1px 1px 1px 1px #b2b4b8; }
      .myProjects_data_actions_wrapper > span {
        display: none; } }
  .myProjects_data_actions_action {
    font-size: 11px;
    font-weight: normal; }
    @media screen and (max-width: 767px) {
      .myProjects_data_actions_action {
        display: block;
        padding: 3px;
        margin-bottom: 8px;
        font-size: 1em; }
        .myProjects_data_actions_action:not(:first-child) {
          padding: 3px !important; } }
  .myProjects_data_actions_mobileToggle {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 1.5em;
    color: #112e51; }
    @media screen and (min-width: 768px) {
      .myProjects_data_actions_mobileToggle {
        display: none; } }
    .myProjects_data_actions_mobileToggle i.icon {
      margin: 0;
      width: auto; }

td.items_table_item.displayDataActions {
  z-index: 3 !important; }
  td.items_table_item.displayDataActions .myProjects_data_actions_wrapper {
    display: block; }

.ui.popup.detailsFiles_popup {
  max-width: inherit;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #5b6168;
  background-color: #f1f1f1; }
  @media screen and (max-width: 400px) {
    .ui.popup.detailsFiles_popup {
      margin-left: 1em; } }
  .ui.popup.detailsFiles_popup:before {
    background-color: #f1f1f1 !important; }
  .ui.popup.detailsFiles_popup p {
    margin-bottom: 3px;
    font-size: 11px; }
